@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-sans: Montserrat, sans-serif;

  --color-primary-500: #fbd791;
  --color-primary-600: #e8c580;
  --color-primary-800: #77674d;

  --color-secondary-100: #f8fafb;
  --color-secondary-500: #6f717e;
  --color-secondary-900: #041339;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}
